In [1]:
import requests
import time
import csv
import pandas as pd
import os
from web3 import Web3
from dotenv import load_dotenv

In [2]:
load_dotenv()
api_key = os.getenv('INFURA_API_KEY_2')

infura_mainnet_url = f'https://mainnet.infura.io/v3/{api_key}'
infura_polygon_url = f'https://polygon-mainnet.infura.io/v3/{api_key}'
infura_base_url = f'https://base-mainnet.infura.io/v3/{api_key}'
infura_optimism_url = f'https://optimism-mainnet.infura.io/v3/{api_key}'
infura_arbitrum_url = f'https://arbitrum-mainnet.infura.io/v3/{api_key}'

web3 = Web3(Web3.HTTPProvider(infura_polygon_url))

def is_contract(address):
    code = web3.eth.get_code(Web3.to_checksum_address(address))
    return len(code) > 2

In [3]:
addresses_df = pd.read_csv('../data/polygon/distinct_addresses_1_year.csv')

In [11]:
addresses_slice = addresses_df.iloc[56051:102615]

In [12]:
addresses_slice

                                           address
56051   0x7d6185364084dda3f99584be443f382a2cebd739
56052   0x51ca47a873a8f2b38582b6721d81996d0c26487b
56053   0x4e921508ea3d2607ef6c0ab7b43e1e7a86d126b1
56054   0xbe2b468a913fb29c8941746e6bb5f57047643660
56055   0x012a88121fdfce7441c6e6cf8b34687beba3f905
...                                            ...
102610  0x04eba0a47cf4d008564739804c847b5793b6ae67
102611  0x9a3b7062515a293dcc54004bf5fa1031116cbbc5
102612  0xca3e34512194e8af4dbb24a84214616c631176e1
102613  0xc5266b132f29433f61f19ed6dc857a39a862d68e
102614  0xe065623bc9caf6160b35b5323d9fa4d38f464e3c

[46564 rows x 1 columns]

In [ ]:
for i, row in addresses_slice.iterrows():
    print(i)
    address = row['address']
    type = is_contract(address)
    addresses_slice.at[i, 'type'] = type
    time.sleep(1/25)

In [15]:
# addresses_slice['type'] = addresses_slice['address'].apply(is_contract)
addresses_slice.to_csv('../data/polygon/checked_addresses_1_year_2.csv', index=False)